langgraph
langchain
langchain-core
langchain-community
langgraph-checkpoint-sqlite
langchain_openrouter

fastapi
uvicorn

pydantic
python-dotenv
typing-extensions

tqdm
numpy
pandas

streamlit

openai